.ContainerImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    padding: 0;
 }
  
  .ContainerImg button {
    background-color: orangered;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 15px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

  }

  .image-text-box {
    /* background-color: #fff;
    border: 1px solid #ccc;
    padding: 100px; */
    border: 1px solid #ccc ;
    padding: 50px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    width: 300px;
  }

  .ImgSize {
    width: 275px;
  height: 183;
  }
  
  