.App {
  text-align: center;
}

p {
  font-family: sans-serif;
  line-height: 1.6;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: orangered;
  font-weight: bold;
  font-size: 50px;
}

.intro {
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.flex-child {
  flex: 1;
  align-items: center;
  justify-content: center;
} 

#pIntro {
  font-size: 25px;
  flex-basis: 75%;
  padding: 50px;
}

#intro_fig {
  flex-basis: 25%;
  padding: 20px;
  width: 15% !important;;
  height: auto;
}

.links {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.link-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.link-container a {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link-container img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}


footer {
  text-align: center;
  background-color: rgba(18, 159, 184, 0.904);
  color: whitesmoke;
  padding: 10px;
}

#logo {
  width: 90px;
  height: auto;
  position: absolute;
  left: 30px;
}

.contacts {
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.6;
  display: flex;
  padding: 70px;
}
.dogMail {
  text-align: center;
}


.ContainerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  padding: 0;
}

.ContainerImg button {
  background-color: orangered;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 15px 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

.image-text-box {
  /* background-color: #fff;
  border: 1px solid #ccc;
  padding: 100px; */
  border: 1px solid #ccc ;
  padding: 50px;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  width: 300px;
}

.ImgSize {
  width: 275px;
height: 183;
}

.gallery_welcome {
  text-align: center;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}