.App {
  text-align: center;
}

p {
  font-family: sans-serif;
  line-height: 1.6;
}

a:link { 
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none; 
}

a {
  color: rgb(236, 129, 5);
  font-weight: bold;
  font-family: sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(236, 156, 7);
  font-weight: bold;
  font-size: 50px;
  margin-top: 60px;
  font-family: sans-serif;
}

.intro {
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.flex-child {
  flex: 1;
  align-items: center;
  justify-content: center;
} 

#pIntro {
  font-size: 25px;
  flex-basis: 75%;
  padding: 50px;
  padding-right: 15px;
  color: #413d3d;
}

#intro_fig {
  flex-basis: 25%;
  padding: 20px;
  width: 15% !important;;
  height: auto;
}

.links {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.link-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.link-container a {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link-container img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

footer {
  text-align: center;
  background-color: rgba(18, 159, 184, 0.904);
  color: whitesmoke;
  padding: 10px;
  font-family: sans-serif;
}

#logo {
  width: 90px;
  height: auto;
  position: absolute;
  left: 30px;
}

.contacts {
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.6;
  display: flex;
  padding: 70px;
  margin-left: 70px;
  margin-right: 70px;
  color: #413d3d;
}

.dogMail {
  text-align: center;  
}

.ContainerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  padding: 0;
}

.ContainerImg button {
  background-color: rgb(236, 156, 7);
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 15px 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

.image-text-box {
  border: 1px solid #ccc ;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-family: sans-serif ;
  width: 300px;
  line-height: 20pt;
  text-align: justify;
  text-justify: inter-word;
}

.ImgSize {
  width: 275px;
  height: 183;
}

.gallery_welcome {
  text-align: center;
  font-family: sans-serif;
  color: rgb(58, 57, 56);
  font-family: sans-serif;
  line-height: 40pt;
  margin-bottom: 30px;
  margin-top: 20px;
}

#Cal_page {
  background-color: #fdf3f3cb;
}

#BMI_intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.BMI_header {
  color: rgb(240, 161, 16);
  font-family: sans-serif;
  padding-top: 40px;
}

.input_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  font-weight: bold;
  border: 5px solid #a4a6aa;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 50px;
  background-color: white;
}

.BMI_title {
  color: rgb(236, 156, 7);
  font-family: sans-serif;
}

.input_p {
  font-family: sans-serif;
  color: #413d3d;
}

#output_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 5px solid #a4a6aa;
  margin-left: 500px;
  margin-right: 500px;
  background-color: white;
}

.output_p {
  color: #37383a;
  font-family: sans-serif;
  margin: 10px;
}

#message_div {
  text-align: center;
  justify-content: center;
  margin: 50px;
  border: 5px solid #a4a6aa;
  margin-left: 220px;
  margin-right: 220px;
  color: #37383a;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
